<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="style2">
        <div class="inner">
            <span class="image">
                <img src="{{ page.image | relative_url }}" alt="" />
            </span>
            <header class="major">
                <h1>{{ page.title }}</h1>
            </header>
            <div class="content">
                <p>{{ page.date | date: "%B %d, %Y" }}</p>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one">
            <div class="inner">
                {{ content }}
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
